Repository 10up/wp-scaffold, pull requests merged in 2024-09, with the labels that each got.

#228 Update handling of css globals & mixins
  mu-plugins/10up-plugin/assets/css/frontend/global/index.css
  mu-plugins/10up-plugin/package.json
  themes/10up-theme/assets/css/frontend/global/index.css
  themes/10up-theme/assets/css/frontend/global/media-queries.css
  themes/10up-theme/assets/css/globals/.gitkeep
  themes/10up-theme/assets/css/globals/media-queries.css
  themes/10up-theme/assets/css/globals/readme.md
  themes/10up-theme/assets/css/mixins/.gitkeep
  themes/10up-theme/assets/css/mixins/readme.md
Labels: enhancement, CSS

#215 Chore: Remove no longer needed code from scaffold
  themes/10up-theme/functions.php
  themes/10up-theme/includes/blocks.php
Labels: enhancement

#229 Add logic for block style entry points
  mu-plugins/10up-plugin/package.json
  package-lock.json
  themes/10up-theme/assets/css/blocks/core/group.css
  themes/10up-theme/assets/css/blocks/example-block.css
  themes/10up-theme/assets/css/blocks/index.css
  themes/10up-theme/assets/css/blocks/readme.md
  themes/10up-theme/assets/css/frontend/style.css
  themes/10up-theme/includes/blocks.php
  themes/10up-theme/package.json
Labels: Internal Review, CSS
